<html>
  <head>
    <title>Todo App</title>
    <style>
        .hidden {
          display: none;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          width: 200px;
        }
        li {
          clear: both;
        }
        li button {
          -webkit-appearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
        }

        .todoapp {
          display: flex;
        }

        .list-wrapper{
          display: flex;
          flex-direction: column;
          margin-top: 15px;
        }

        .list-wrapper__list{
          margin-bottom: 10px;
        }

        .headline {
          width: 100%;
        }

    </style>
  </head>
  <body>
    <div id="error" class="hidden">Something went wrong!</div>
    <div class="todoapp">
      <div>
        <h2 class="headline"> TodoLists </h2>
        <form id="formList" method="POST" action="/todoList/createList">
          <!-- <input id="list_id" type="hidden" value="{{ active_list.id }}"/> -->
          <input type="text" id="createList" name="createList"/>
          <input type="submit" value="Create List" />
        </form>
        <ul class="list-wrapper">
          {% for list in list_todos %}
          <li>
            <input type="checkbox"/>
            <a class=list-wrapper__list href="/lists/{{ list.id }}"> {{ list.name }} </a>
            <button class="delete-button" onclick="deleteList(this, '{{list.id}}')">&cross;</button>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h2 class="headline"> {{active_list.name}} </h2>
        <form id="formElement" method="POST" action="/todos/create">
          <input id="list_id" type="hidden" value="{{ active_list.id }}"/>
          <input type="text" id="description" name="description"/>
          <input type="submit" value="Create" />
        </form>
        <ul id="todos">
          {% for todo in todos %}
          <li class="todoList">
            <input type="checkbox" data-id="{{ todo.id }}" class="task-completed"  onchange="checkedTodo(this)" {% if todo.completed %} checked {% endif %}>
            {{ todo.description }}
            <button class="delete-button" onclick="deleteItem(this, '{{todo.id}}')" data-id="{{ todo.id }}">&cross;</button>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script>


        // **************************
        // * CREATE A NEW TODO LIST *
        // **************************
        document.getElementById('formList').onsubmit = function(e) {
            e.preventDefault();

            fetch('/todoList/createList', {
                method: 'POST',
                body: JSON.stringify({
                    'listName': document.getElementById('createList').value,
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(jsonResponse => {
                // console.log('response', jsonResponse);
                // li = document.createElement('li');
                // li.className = 'todoList'
                // const checkbox = document.createElement('input');
                // checkbox.className = 'task-completed';
                // checkbox.setAttribute('data-id', jsonResponse.id);
                // checkbox.setAttribute("onchange","checkedTodo(this)");
                // checkbox.type = 'checkbox';
                // li.appendChild(checkbox);
                // const text = document.createTextNode(' ' + jsonResponse.description);
                // li.appendChild(text);

                // const deleteBtn = document.createElement('button');
                // deleteBtn.className = 'delete-button';
                // deleteBtn.setAttribute('data-id', jsonResponse.id);
                // deleteBtn.innerHTML = '&cross;';
                // deleteBtn.setAttribute("onclick","deleteItem(this, "+jsonResponse.id+")");
                // li.appendChild(deleteBtn);

                // document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }

        // ***************************
        // *   DELETE A TODO LIST    *
        // ***************************

        function deleteList(el, listId) {
          console.log(listId)
          fetch('/todosList/' + listId + '/deleteL', {
                    method: 'DELETE',
            })
            .then(function() {
                const elements = document.getElementsByClassName(`todoList${listId}`);
                const length = elements.length;
                for(let i=0; i < length; i++){
                  elements[0].remove();
                }
                el.parentElement.remove();
            })
        }

        // ***************************
        // *   DELETE A TODO ITEM    *
        // ***************************

        function deleteItem(el, id) {
            fetch('/todos/' + id + '/delete-item', {
                    method: 'DELETE'
            })
            .then(function() {
                el.parentElement.remove();
            })
        }
        // **************************
        // *   CHECK A TODO ITEM    *
        // **************************

        function checkedTodo (e) {
            const newCompleted = e.checked;
            const todoId = e.dataset['id'];
            
            fetch('/todos/' + todoId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                    'completed': newCompleted,
                    'list_id': document.getElementById('list_id').value
                }),
                headers: {
                  'Content-Type': 'application/json',
                }
                })
                .then(() => {
                    document.getElementById('error').className = 'hidden'
                    console.log('Event', e)
                })
                .catch(() => {
                    document.getElementById('error').className = ''
                })
        }

        // **************************
        // * CREATE A NEW TODO ITEM *
        // **************************
        document.getElementById('formElement').onsubmit = function(e) {
            e.preventDefault();

            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value,
                    'list_id': document.getElementById('list_id').value
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(jsonResponse => {
                console.log('response', jsonResponse);
                li = document.createElement('li');
                li.className = 'todoList'
                const checkbox = document.createElement('input');
                checkbox.className = 'task-completed';
                checkbox.setAttribute('data-id', jsonResponse.id);
                checkbox.setAttribute("onchange","checkedTodo(this)");
                checkbox.type = 'checkbox';
                li.appendChild(checkbox);
                const text = document.createTextNode(' ' + jsonResponse.description);
                li.appendChild(text);

                const deleteBtn = document.createElement('button');
                deleteBtn.className = 'delete-button';
                deleteBtn.setAttribute('data-id', jsonResponse.id);
                deleteBtn.innerHTML = '&cross;';
                deleteBtn.setAttribute("onclick","deleteItem(this, "+jsonResponse.id+")");
                li.appendChild(deleteBtn);

                document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }
    </script>
  </body>
</html>